@import 'variables';

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

html,
body,
button {
  color: #000;
  font-family: 'Libre Baskerville', serif;
  font-size: $baseFontSize;
  font-weight: normal;
  letter-spacing: 2px;
  line-height: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

h1 {
  font-size: 3rem;
  line-height: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1rem;
}

h5,
h6 {
  font-size: 0.8rem;
}
